/* Hacemos que la p치gina ocupe toda la ventana y sin m치rgenes */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita que aparezcan barras de scroll */
}

/* CAMBIO: Se actualiza la fuente a "Poppins" y el color de fondo a un gris oscuro m치s moderno */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a202c; /* Gris oscuro azulado */
    font-family: 'Poppins', sans-serif;
}

/* CAMBIO: Se elimina el borde y se suaviza la sombra para un look m치s limpio */
#game-container {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}